<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <% include ./header %>
    <header>
        our header
    </header>



     <h1> Hello world </h1>
     <h2> there is our message <%= message %> </h2>

     <ul>
         <% messages.forEach(function(message, index) { %>
            <li><%= message %></li>
            <% });%>
     </ul>
     <footer> our foooter </footer>
</body>
</html>