#cssSlider {
  width: 800px;
	height: 300px;
	overflow: hidden;
	border: 10px solid #666;
}

#sliderImages {
	width : 4000px;
	height: 300px;
	overflow: hidden;
	
	animation: slide 16s infinite;
}

#sliderImages img {
	float: left;
}


@keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -800px;}
	37%{margin-left: -800px;}
	40%{margin-left: -1600px;}
	57%{margin-left: -1600px;}
	60%{margin-left: -2400px;}
	77%{margin-left: -2400px;}
	80%{margin-left: -3200px;}
	97%{margin-left: -3200px;}
	100%{margin-left: 0px;}
}