.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* flex-wrap: wrap-reverse; */
}

div > div {
    width: 200px;
    height: 50px;

}

.flex1 {
    display: flex;
    justify-content: flex-start;
    align-items: self-start; 
    flex-wrap: nowrap;
}

.flex2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap-reverse;
}